<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aa</key>
	<string>&lt;meta charset=&quot;UTF-8&quot;&gt;滴水计时有两种方法：一种是利用特殊容器记录水漏完的时间，叫き╬※型水钟；一种是底部不开口的容器，记录它用多少时间把水接满的叫き╬※型水钟。</string>
</dict>
</plist>
